# {{ ansible_managed }}

[Unit]
Description=Apache NiFi
After=network.target

[Service]
Type=forking
User={{ nifi_user }}
Group={{ nifi_group }}
ExecStart={{ nifi_main_dir }}/bin/nifi.sh start
ExecStop={{ nifi_main_dir }}/bin/nifi.sh stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
